@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Montserrat';
  background: rgb(243, 244, 245);
}

.form-login{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
}

form{
    padding: 20px;
    margin-left: 30%;
    width: 40%;
    height: 80%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 7px 5px 21px 7px rgb(191 191 191 / 89%);
    z-index: 5;
}

h1{
    margin: 20px 0px;
    color: #333333;
}

input{
    height: 16px;
    width: 47%;
    margin-bottom: 26px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3333;
    color: #333333;
}

a{
    font-size: 12px;
}

button{
    margin-top: 20px;
    border: none;
    width: 171px;
    height: 42px;
    color: #fff;
    background-color: #5000CA;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

img{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: -1;
}